@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url("../font/montserrat_extrabold.ttf");
}

@font-face {
    font-family: 'VendSans';
    src: url("../font/VendSans-VariableFont_wght.ttf");
}

body {
    margin: 0;
    font-family: 'VendSans', sans-serif;
}

h1 h2 h3 {
    font-family: 'VendSans', sans-serif;
}

h3 {
    font-size: 24px;
    margin: 0.5rem;
}

.background_svg {
    position: fixed;
    top: -30%;
    left: -10%;
    z-index: -2;
    width: 150vw;
}

p {
    font-family: 'VendSans', sans-serif;
    margin: 0.2rem;
}

.divHeader {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.mobile-filter-button {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
}

.mobile-filter-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    right: 0rem;
    background-color: white;
    padding: 2rem;
    z-index: 50;
}

.mobile-theater-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    margin: 2rem auto;
}

.visible {
    display: flex;
}

.input-search {
    margin-bottom: 1rem;
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    margin-left: 10%;
    border-radius: 5rem;
    border: solid gray 0.15rem;
    outline: none;
    transition: 0.5s;
}

.input-search:focus {
    border: solid #444cf7 0.15rem;
}

.filter-container {
    margin-left: 10%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.theater-filter {
    padding: 0.5rem 1rem;
    border: solid gray 0.1rem;
    border-radius: 5rem;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.theater-filter.active {
    background-color: #444cf7;
    color: white;
}

.theater-filter:hover {
    background-color: #444cf7;
    color: white;
}

.container_titrePlanning,
.container_infoFilm {
    margin-right: 10%;
    margin-left: 10%;
}

.line {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(68, 76, 247, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
    margin-top: 10px;
    margin-bottom: 20px;
}

.container_titrePlanning {
    margin-top: 20px;
}

.infoFilm {
    position: relative;
}

.pin-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.pinned {
    order: -1;
}

.titreFilm {
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;
    transition: all 0.2s;
}

.titreFilm > a {
    position: relative;
    transition: 0.2s;
}

.titreFilm > a::after {
    content: '';
    position: absolute;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    width: 0;
    background: #444cf7;
    transition: width 0.2s;
}

.titreFilm > a:hover::after {
    width: 100%;
}

.affiche {
    width: 200px;
    height: 288px;
    border-radius: 5px;
    padding-right: 30px;
}

.container_infoFilm {
    position: relative;
    display: flex;
    flex-direction: column;
}

.film-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.film-content {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 15px 1px rgba(2,2,2,0.1)
}

.info-content {
    position: relative;
    z-index: 1;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    justify-content: center;
    gap: 0.5rem;
}

.date-selectionne {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444cf7;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    justify-content: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
}

.mois {
    margin-bottom: 20px;
}

.calendrier {
    width: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}

.chiffre {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 42px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.cinema {
    background-color: #444cf7;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
    flex-shrink: 0;
    flex-grow: 0;
    transition: all 0.2s;
}

.cinema:hover {
    background-color: white;
    color: #444cf7;
    border: #444cf7 solid 0.1px;
}

.cinema > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.horaire_container {
    background-color: white;
}

.seance_container {
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

.horaires_container {
    display: flex;
    flex-direction: row;
    max-width: 80% - 200px;
    overflow-x: auto;
}

.horaire {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: #444cf7;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    border: rgba(0,0,0,0.1) solid 0.1px;
}

footer {
    background-color: white;
}

.container_footer {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.7;
}

.contenu_edt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txt_edt {
    position: relative;
    top: 50px;
}

.synopsis_container {
    padding: 1rem 1rem 1rem 0;
}

.synopsis {
    opacity: 0.8;
}

.date:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444cf7;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    justify-content: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
    transition: all 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}

#loader {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader div.box {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin: 0 1rem 0 1rem;
}

#loader div.box::after {
    content: "";
    position: absolute;
    background: #444cf7;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    animation: move 1s ease alternate infinite;
    opacity: 0;
}

#loader div.box:nth-child(2)::after {
    animation-delay: 0.25s;
}

#loader div.box:nth-child(3)::after {
    animation-delay: 0.5s;
}

.reference-link {
    text-decoration: underline;
}

.reference-link:hover {
    color: #444cf7;
}

@keyframes move {
    0% {
        bottom: -1.5rem;
        opacity: 0;
    }

    100% {
        bottom: 1.5rem;
        opacity: 1;
    }
}

.goTop {
    width: 50px;
    height: 50px;
    background-color: #444cf7;
    border: #fff solid 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
}

html {
    scroll-behavior: smooth;
}

.responsive-div {
    height: 90px;
}

.responsive-petite-div {
    height: 10px;
}

@media (max-width: 576px) {
    .contenu_edt {
        display: flex;
        flex-direction: column;    
    }

    .divHeader {
        flex-direction: column;
        max-width: 80vw;
    }
    h1 {
        margin-block-start: 15px;
        margin-block-end: 0;
    }
    p {
        font-size: 12px;
        margin-block-start: -5px;
    }

    .filter-container {
        display: none;
    }

    .date {
        width: 40px;
        height: 50px;
    }
    
    .date-selectionne {
        width: 50px;
        height: 50px;
    }
    
    .mois {
        margin-bottom: 20px;
        font-size: 8px;
    }
    
    .calendrier {
        max-width: 80vw;
        width: 350px;
    }
    
    .chiffre {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .jour {
        display: none;
    }
    .txt_edt {
        display: none;
    }
    .line {
        max-width: 80vw;
        width: 350px;
    }
    .affiche {
        width: 100px;
        height: 144px;
        padding-right: 10px;
    }
    .titreFilm {
        font-size: 18px;
        margin-block-start: 5px;
        margin-block-end: 5px;
    }

    .synopsis{
        display: none;
    }
    .cinema {
        height: 30px;
        width: 100px;
        color: white;
        padding-right: 5px;
        font-size: 12px;
    }
    .horaires_container {
        max-width: 250px;
    }
    
    .horaire {
        height: 30px;
        width: 45px;
        border-radius: 5px;
        margin-left: 5px;
    }
    .cinema p,
    .horaire p{
        font-size: 10px;
        margin-block-start: 1em;
    }
    .container_titrePlanning,
    .container_infoFilm {
        max-width: 80vw;
        width: 350px;
    }
    .responsive-div {
        height: 30px;
    }
    .responsive-petite-div {
        height: 5px;
    }
    .goTop {
        z-index: 2;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: #444cf7;
        border: #fff solid 4px;
    }
    .goTop p{
        font-size: 20px;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    .background_svg {
        position: fixed;
        bottom: 0;
        top: auto;
        right: 0;
        z-index: -2;
        transform: scale(2); 
    }
    .blur-background {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        z-index: -1;
        border-radius: 5px;
        filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.4));
    }
    footer {
        background-color: white;
        padding-top: 10px;
    }
    
    .container_footer {
        max-width: 80vw;
    }
    .container_footer p{
        font-size: 10px;
    }
    *:not(.affiche) {
        box-sizing: border-box;
    }
    .date:hover {
        width: 40px;
        height: 50px;
    }
}