@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url("../font/montserrat_extrabold.ttf");
}

@font-face {
    font-family: 'VendSans';
    src: url("../font/VendSans-VariableFont_wght.ttf");
} 

body {
    margin: 0 10%;
    font-family: 'VendSans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    margin: 0.5rem;
}

h3 {
    font-size: 24px;
}

p {
    margin: 0.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Mobile filters */

.mobile-filter-button {
    display: none;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
}

.mobile-filter-container {
    display: none;
}

/* Theater filters */

.filter-container {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.theater-filter {
    padding: 0.5rem 1rem;
    border: solid gray 0.1rem;
    border-radius: 5rem;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.theater-filter.active {
    background-color: #444cf7;
    color: white;
}

.theater-filter:hover {
    background-color: #444cf7;
    color: white;
}

/* Search input */

.input-search {
    margin-bottom: 1rem;
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    border-radius: 5rem;
    border: solid gray 0.15rem;
    outline: none;
    transition: 0.5s;
}

.input-search:focus {
    border: solid #444cf7 0.15rem;
}

/* Calendar */

.calendrier {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 5rem;
    left: 1rem;
    gap: 0.5rem;
    margin-left: 1rem;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    justify-content: center;
    gap: 0.5rem;
}

.date:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444cf7;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    justify-content: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
    transition: all 0.2s;
}

.date-selectionne {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444cf7;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    justify-content: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
}

.mois {
    margin-bottom: 20px;
}

.chiffre {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 42px;
    margin-top: -20px;
    margin-bottom: -20px;
}

/* Planning */

.container-planning-header {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planning-title {
    margin-left: 0;
}

.line {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(68, 76, 247, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 100%);
}

/* Movies info */

.container_infoFilm {
    display: flex;
    flex-direction: column;
}

.film-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.infoFilm {
    position: relative;
}

.titreFilm {
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;
    transition: all 0.2s;
}

.titreFilm > a {
    position: relative;
    transition: 0.2s;
}

.titreFilm > a::after {
    content: '';
    position: absolute;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    width: 0;
    background: #444cf7;
    transition: width 0.2s;
}

.titreFilm > a:hover::after {
    width: 100%;
}

.affiche {
    width: 200px;
    max-height: 265px;
    aspect-ratio: 0.75;
    object-fit: contain;
    border-radius: 5px;
    padding-right: 1rem;
}

.pin-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.pinned {
    order: -1;
}

.film-content {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 15px 1px rgba(2,2,2,0.1)
}

.synopsis {
    opacity: 0.8;
    padding: 1rem 1rem 1rem 0;
}

/* Showtimes info */

.cinema {
    background-color: #444cf7;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
    flex-shrink: 0;
    flex-grow: 0;
    transition: all 0.2s;
}

.cinema:hover {
    background-color: white;
    color: #444cf7;
    border: #444cf7 solid 0.1px;
}

.cinema > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.horaire_container {
    background-color: white;
}

.seance_container {
    display: flex;
    flex-direction: row;
}

.horaires_container {
    display: flex;
    flex-direction: row;
}

.horaire {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 110px;
    color: #444cf7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: rgba(0,0,0,0.1) solid 0.1px;
}

.lang {
    font-size: 0.8rem;
    margin-left: 0.3em;
    font-weight: bold;
    color: black;
    position: absolute;
    bottom: 0.2rem;
    left: 0.2rem;
    opacity: 0.7;
}
.accessible > img {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    object-fit: contain;
    width: 1.2rem;
    opacity: 0.7;
}

/* Go to Top of Page */
.goTop {
    width: 50px;
    height: 50px;
    background-color: #444cf7;
    border: #fff solid 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2mm 6mm 6mm rgba(2, 2, 2, 0.2));
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.7;
}

.reference-link {
    text-decoration: underline;
    transition: all 0.2s;
}

.reference-link:hover {
    color: #444cf7;
}


@media (max-width: 576px) {

      :not(.affiche) {
    box-sizing: border-box;
  }

    body {
        margin: 0 1rem;
    }

    p {
        font-size: 12px;
    }

    /* Theaters filter */

    .mobile-filter-button {
        display: inline-block;
    }

    .mobile-filter-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0rem;
    right: 0rem;
    background-color: white;
    z-index: 50;
    }

    .mobile-theater-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 50%;
        margin: 2rem auto;
    }

    .visible {
        display: flex;
    }

    .filter-container {
        display: none;
        overflow: hidden;
    }

    .theater-filter:hover {
        background-color: white;
        color: black;
    }

    .theater-filter.active {
        background-color: #444cf7;
        color: white;
    }

    .hidden {
        display: none;
    }

    /* Calendar */

    .calendrier {
        position: static;
        flex-direction: row;
        margin: 1rem auto;
        justify-content: center;
    }

    .date {
        width: 40px;
        height: 50px;
    }
    
    .date-selectionne {
        width: 50px;
        height: 50px;
    }
    
    .mois {
        margin-bottom: 20px;
        font-size: 8px;
    }
    
    .calendrier {
        max-width: 80vw;
        width: 350px;
    }
    
    .chiffre {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .jour {
        display: none;
    }

    /* Planning */
    .planning-title {
        display: none;
    }

    .line {
        width: 100%;
    }

    /* Movies info */

    .affiche {
        width: 100px;
        height: 144px;
        padding-right: 10px;
    }

    .titreFilm {
        font-size: 18px;
        margin: 0.2rem 0 0 0.2rem;
        max-width: 80%;
    }

    .pin-icon {
        width: 1.2rem;
        top: 0.5rem;
        right: 0.5rem;
    }

    .synopsis{
        display: none;
    }

    /* Showtimes info */
    .cinema {
        height: 30px;
        width: 100px;
        color: white;
        padding-right: 5px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
    }

    .cinema > a {
        font-size: 0.7rem;
        overflow: hidden;
    }

    .horaires_container {
        display: flex;
        flex-direction: row;
        max-width: 80% - 200px;
        overflow-x: auto;
    }
    
    .horaire {
        background-color: white;
        border-radius: 5px;
        height: 30px;
        width: 80px;
        color: #444cf7;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        flex-shrink: 0;
        flex-grow: 0;
        border: rgba(0,0,0,0.1) solid 0.1px;
    }

    .horaire > p {
        font-size: 0.7rem;
        font-weight: 700;
    }

    .lang {
        font-size: 0.6rem;
        bottom: 0.15rem;
        left: 0.15rem;
    }

    .accessible > img {
        width: 1rem;
        bottom: 0.15rem;
        right: 0.15rem;
    }

    /* Go to Top of Page */
    .goTop {
        z-index: 25;
        bottom: 1.5rem;
        right: 0.1rem;
        width: 50px;
        background-color: #444cf7;
    }

    .goTop p{
        display: flex;
        margin: auto;
        font-size: 1.4rem;
    }
    
    .date:hover {
        width: 40px;
        height: 50px;
    }
}