<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Toutes les séances de cinéma de la métropole nantaise en un seul endroit"
    <link rel="preload" href="{{url_for('static', filename='css/main.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>
    <title>{{ website_title }}</title>
    {% block head %} {% endblock %}
</head>

<header id="headerTop">
    <h1 class="textLogo_header">{{ website_title }}</h1>
</header>
<body>
    {% block body %} {% endblock %}
</body> 

<footer>
    <p>Réalisé par <a href="https://github.com/Bcharier" class="reference-link">Baptiste Charier</a> à partir d'une idée originale de <a class="reference-link" href="https://www.youtube.com/Sol%C3%A8neDRN">Solène Derniaux</a></p>
</footer>

<script src="{{ url_for('static', filename='js/search.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/pin.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/filters.js') }}" defer></script>
</html>