{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<a href="#headerTop">
    <div class="goTop">
        <p>🍿</p>
    </div>
</a>

<button class="mobile-filter-button"><img src="/static/images/filter.png" alt="Bouton pour afficher les filtres par cinéma"></button>
<div class="mobile-filter-container">
    <div class="mobile-theater-container">
        {% for theater in theaters %}
        <button class="theater-filter">{{ theater.name }}</button>
        {% endfor %}
    </div>
</div>

<input type="text" id="movieSearch" class="input-search" placeholder="Rechercher un film...">

<div class="filter-container">
    {% for theater in theaters %}
        <button class="theater-filter">{{ theater.name }}</button>
    {% endfor %}
</div>

<div class="planning">
    <div class="container_titrePlanning">
        <div class="contenu_edt">
            <h2 class="txt_edt">Séances</h2>
            <div class="calendrier">
            {% for date in dates %}
                {% if date.choisi %}
                <div class="date date-selectionne">
                    <p class="jour">{{date.jour}}</p>
                    <p class="chiffre">{{date.chiffre}}</p>
                    <p class="mois">{{date.mois}}</p>
                </div>
                {% else %}
                <a href="{{ url_for('home', delta=date.index) }}">
                    <div class="date">
                        <p class="jour">{{date.jour}}</p>
                        <p class="chiffre">{{date.chiffre}}</p>
                        <p class="mois">{{date.mois}}</p>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="line"></div>
    </div>
<div class="container_infoFilm">
    {% for film in films %}
    <div class="film-container">
        <div class="film-content">
            <img src="{{ film.affiche if film.affiche else url_for('static', filename='images/nocontent.png') }}"
                alt="Affiche du film {{film.title}}"
                loading="lazy"
                class="affiche" />            
            <div class="infoFilm">
                <img src="/static/images/push-pin.png" alt="Bouton pour épingler un film" class="pin-icon" data-movie-id="{{ film.id }}"/>
                <h3 class="titreFilm"><a href="{{ film.url }}" target="_blank">{{film.title}}</a></h3>
                <div class="info-content">
                    <p class="realisateur">Réalisateur : {{film.director}}</p>
                    <p class="casting">Casting : {{ film.casting }}</p>
                    <p class="genre">Genre : {{ film.genres }}</p>
                    <p class="duree">Durée : {{film.duree}}</p>
                </div>
                <div class="synopsis_container">
                    <p class="synopsis">
                        {{film.synopsis | safe }}
                    </p>
                </div>
            </div>
        </div>
        {% for cinename, seances in film.seances.items() %}
            <div class="seance_container" data-theater="{{ cinename }}">
                <div class="cinema">
                    <a href="{{theater_urls.get(cinename)}}" target="_blank" rel="noopener noreferrer">{{cinename}}</a>
                </div>
                <div class="horaires_container">
                    {% for seance in seances %}
                    <div class="horaire">
                        <p>
                            {{ seance.time }}
                            <span class="lang">{{ seance.lang }}</span>
                            {% if seance.accessible %}
                                <span class="accessible" title="Accessible fauteuil roulant"><img src="{{url_for('static', filename='images/disabilities.png')}}" alt="Séance accessible pour les personnes à mobilité réduite"></span>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        {% endfor %}

</div>

{% endblock %}